/* Global Styles used through application */

    /* Font imports */
@import url("https://fonts.googleapis.com/css?family=Maven+Pro|Roboto&display=swap");

body {
    font-family: "Maven Pro", sans-serif;
    font-size: 1rem;
}

/* Navbar */

    /* Custom Navbar background color */
.bg-custom {
    background-color: #aae1d8;
}

.navbar-brand img {
    height: 50px;
}

    /* Navbar links set to default primary color of black using specificity */
.navbar-dark .navbar-nav .nav-link {
    color: #000000;
}

/* Global page elements such as titles and descriptions etc */

.page-title {
    margin: 90px 0 10px;
}

.page-desc {
    margin: 10px 0;
}

/* `Fundamentals` styling */

    /* Cards and associated content styles */
.card {
    max-width: 20rem;
    margin: 15px auto;
}

.card-body {
    min-height: 40rem;
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.desc-label, .cues-label {
    font-weight: bold;
    font-style: italic;
}

.card-text {
    font-family: "Roboto", sans-serif;
}

/* Footer */

footer {
    background-color: #aae1d8;
    min-height: 60px;
}

.footer-item {
    font-family: "Maven Pro", sans-serif;
    font-size: 1.1rem;
    font-style: italic;
    list-style-type: none;
}

/* Media Queries */

@media (min-width: 320px) {
    /* Footer elements aligned to middle for small screens */
    .created-by, .social-links {
        text-align: center;
    }
}

@media (min-width: 768px) {
    /* Footer elements alignment to ensure rule of thirds visually prominent for user */
    .created-by {
        text-align: left
    }

    .social-links {
        text-align: right
    }
}