/* Global Styles used through application */

    /* Font imports */
@import url("https://fonts.googleapis.com/css?family=Maven+Pro|Roboto&display=swap");

body {
    font-family: "Maven Pro", sans-serif;
    font-size: 1rem;
}

/* Navbar */

    /* Custom Navbar background color */
.bg-custom {
    background-color: #aae1d8;
}

.navbar-brand img {
    height: 50px;
}

    /* Navbar links set to default primary color of black using specificity */
.navbar-dark .navbar-nav .nav-link {
    color: #000000;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #545479;
}

/* Footer */

footer {
    background-color: #aae1d8;
    min-height: 40px;
}

footer .row {
    margin: auto 0;
}

.created-by, .educational-only {
    font-family: "Maven Pro", sans-serif;
    font-style: italic;
    margin: 0;
}

.created-by p {
    font-size: 1.1rem;
    font-weight: bold;
}

.social-links li a i{
    color: #000000;
    font-size: 1.3rem;
    margin: auto 0;
    cursor: pointer;
    vertical-align: middle;
    transition: all 0.45s ease-in-out;
}

.social-links li a i:hover {
    color: #545479;
    transform: rotate(10deg);
    font-size: 1.5rem;
}

/* Global page elements such as titles and descriptions etc */

.page-title {
    margin: 90px 0 10px;
}

.page-desc {
    margin: 10px 0;
}

/* Index page styling */



/* Fundamentals page styling */

    /* Cards and associated content styles */
.card {
    max-width: 20rem;
    margin: 15px auto;
}

.card-body {
    min-height: 40rem;
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.desc-label, .cues-label {
    font-weight: bold;
    font-style: italic;
}

.card-text {
    font-family: "Roboto", sans-serif;
}

/* Media Queries */

@media (min-width: 320px) {
    /* Footer elements aligned to middle for small screens */
    .created-by, .social-links {
        text-align: center;
    }

    .created-by p, .educational-only p {
        margin: 5px 0;
    }

    .socials {
        margin: 10px 0;
    }

}

@media (min-width: 768px) {
    /* Footer elements alignment to ensure rule of thirds visually prominent for user */
    .created-by {
        text-align: left;
    }

    .created-by p, .educational-only p {
        margin: 10px 0;
    }

    .social-links {
        text-align: right;
    }
}