<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Browser tab icon, otherwise known as a Favicon -->

    <!-- Browser tab title -->
    <title>Oly-Track</title>
    <!-- Associated links for styles/fonts & frameworks -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

    <!-- My css stylesheet loaded after Bootstrap and other framework to ensure my styles take affect-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="container content">
            <h1>Testing the render</h1>
            {% block content %}
            {% endblock %}
        </div>
    <!-- jQuery & popper.js for interactive elements from Bootstrap such as Navbar expand/collapse and Modal popup etc -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Custom Javascript file link -->
    <script src="{{ url_for('static', filename='js/javascript.js') }}"></script>
    </body>
</html>