<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Browser tab icon, otherwise known as a Favicon -->

    <!-- Browser tab title -->
    <title>Oly-Track</title>
    <!-- Associated links for styles/fonts & frameworks -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

    <!-- My css stylesheet loaded after Bootstrap and other framework to ensure my styles take affect-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <header>
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top">
                <!-- Logo -->
                <a class="navbar-brand" aria-label="Brand Logo & Link to refresh" href="{{url_for('index')}}">
                    <img src="{{ url_for('static', filename='images/oly-track-short-logo.png') }}" alt="Logo" title="Oly-Track Logo">
                </a>
                <!-- Toggler Icon on mobile view -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navigation links -->
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto uppercase">
                        <li class="nav-item">
                            <a class="nav-link" aria-label="Home" href="{{url_for('index')}}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-label="Fundamentals" href="{{url_for('show_fundamentals')}}">Fundamentals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-label="Public Sessions" href="{{url_for('show_public_sessions')}}">Public Sessions</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="container content">
            {% block content %}
            {% endblock %}
        </div>

    <!-- Footer (social iconography, educational disclaimer etc) -->
    <footer class="container-fluid">
        <div class="row">
            <!-- List item with Creation note -->
            <div class="col-sm-12 col-md-4 created-by">
                <p>Developer: Anthony O' Brien</p>
            </div>
            <!-- Educational uses disclaimer -->
            <div class="col-sm-12 col-md-4 text-center educational-only">
                <p>Educational Purposes Only!</p>
            </div>
            <!-- Social Media Links, that when clicked will navigate user to each in new tab -->
            <div class="col-sm-12 col-md-4 socials">
                <ul class="list-inline social-links">
                    <li class="list-inline-item">
                        <a target="_blank" href="#" rel="noopener">
                            <i class="fas fa-at" aria-hidden="true"></i>
                            <span class="sr-only">Email</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.instagram.com/auxfuse/?hl=en" rel="noopener">
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.linkedin.com/in/AntOBrien" rel="noopener">
                            <i class="fab fa-linkedin" aria-hidden="true"></i>
                            <span class="sr-only">LinkedIn</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://github.com/auxfuse" rel="noopener">
                            <i class="fab fa-github" aria-hidden="true"></i>
                            <span class="sr-only">Github</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- jQuery & popper.js for interactive elements from Bootstrap such as Navbar expand/collapse and Modal popup etc -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Custom Javascript file link -->
    <script src="{{ url_for('static', filename='js/javascript.js') }}"></script>
    </body>
</html>