{% extends 'base.html' %}
{% block content %}
    <section class="about">
        <div class="container content">
            <div class="row">
                <div class="col-sm-12 about-title text-center">
                    <h2>Delete Workout</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <!-- Defensive element to hide core paragraphs in case user navigates to this page via browser url -->
                    {% if 'username' in session %}
                        <p class="page-desc">Hi {{ session['username'] }}, please note that you have clicked to delete the
                            below workout from the database! This is an irreversible, non-refundable, once only
                            action.....</p>
                        <p class="page-help">To delete the workout below, please type your username into the field
                            underneath the workout details! Once you hit Delete, all of these details will be gone
                            forever.</p>
                    {% else %}
                        <p class="page-help">You are not logged in to view this page. Please Login.</p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <img class="img-fluid" src="{{ url_for('static', filename='images/oly-track-large-logo.png') }}"
                         alt="Large Brand Logo">
                </div>
            </div>
        </div>
    </section>

    <!-- Defensive element of Section hidden if user is not logged in. -->
    {% if 'username' in session %}
        <section id="workout-details">
            <div class="container">
                <div class="row delete-workout-row">
                    <div class="col-sm-12 workout-view-card card">
                        <div class="card-body workout-card-body text-center">
                            <h5 class="card-title wcb-title">Detail</h5>
                            <p class="card-text wc-text"><span
                                    class="wd-label">Created by: </span>{{ workout.username }}
                            </p>
                            <p class="card-text wc-text"><span class="wd-label">Date: </span>{{ workout.date }}</p>
                            <p class="card-text wc-text"><span
                                    class="wd-label">Location: </span>{{ workout.location_name }}
                            </p>
                            <p class="card-text wc-text"><span class="wd-label">Focus: </span>{{ workout.focus_name }}
                            </p>
                        </div>
                        <div class="card-body workout-card-body text-center">
                            <h5 class="card-title wcb-title">Workout</h5>
                            <p class="card-text wc-text"><span class="wd-label">Part A: </span>{{ workout.part_a }}</p>
                            <p class="card-text wc-text"><span class="wd-label">Part B: </span>{{ workout.part_b }}</p>
                            <p class="card-text wc-text"><span class="wd-label">Part C: </span>{{ workout.part_c }}</p>
                            <p class="card-text wc-text"><span
                                    class="wd-label">Accessory: </span>{{ workout.accessory }}
                            </p>
                        </div>
                        <div class="card-body workout-card-body text-center">
                            <h5 class="card-title wcb-title">Additional</h5>
                            <p class="card-text wc-text"><span
                                    class="wd-label">Additional Info: </span>{{ workout.additional_info }}</p>
                            <p class="card-text wc-text"><span
                                    class="wd-label">Coach Notes: </span>{{ workout.coach_notes }}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 delete-workout-form">
                        <h2 class="delete-header text-center">Confirm Delete</h2>
                        <form action="" method="POST">
                            <!-- hidden_tag needed to protect against CSRF (cross-site request forgery) attacks in conjunction with our secret key. -->
                            {{ form.hidden_tag() }}

                            <div class="form-group">
                                {{ form.username(class="form-control del-confirm-username", placeholder="Type username to confirm", required=false) }}
                            </div>
                            <div class="form-group text-center">
                                {{ form.submit(class="btn btn-danger delete-btn") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <div id="restricted-access"></div>
    {% endif %}
{% endblock %}