{% extends 'base.html' %}
{% block content %}
    <!-- Landing Image for Home page -->
    <div class="container-fluid content welcome-landing">
        <div class="row no-gutters">
            <div class="col-sm-12 welcome-img">
                <h1 class="welcome-txt">Welcome to Oly-Track!</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="card col-sm-12 col-md-4">
                <div class="card-body home-card-actions">
                    <h5 class="card-title">See the Fundamentals</h5>
                    <p class="card-text">Form is king! Plain and simple. As babies we learn to crawl first, then progress into more advanced travel mechanics, such as walking or running. Weightlifting is no different, practice often and light, and even when competent, before increasing the volume and the weight.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}