{% extends 'base.html' %}
{% block content %}
    <!-- Landing Image for Home page -->
    <div class="container-fluid content welcome-landing">
        <div class="row no-gutters">
            <div class="col-sm-12 welcome-img">
                <h1 class="welcome-txt">Welcome to Oly-Track!</h1>
            </div>
        </div>
    </div>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 about-title text-center">
                    <h2>What is Oly-Track?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 about-desc text-center">
                    <p>An application for Olympic Weightlifting clubs, athletes or everyday gym-goers who lift barbells. Primarily used to record Olympic Weightlifting sessions and is based towards those movements, but it can also be used to track any fitness session from Crossfit - Powerlifting and everything in between.</p>
                    <p>It was designed with ease of use and access in mind. Currently, as an aspiring Competitive Olympic Weightlifter, I often find myself forgetting to bring along my Session journal and by the time I get it, I have forgotten the rep schemes, movements and the weights lifted. You never forget your phone....so why not use a tool that is always readily available in your pocket to sit down in the middle of a session and record what you just did for that day? Enter Oly-Track!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center" id="about-logo-image">
                    <img class="img-fluid" src="{{ url_for('static', filename='images/oly-track-large-logo.png') }}" alt="Large Brand Logo">
                </div>
            </div>
        </div>
    </section>

    <section id="home-actions">
        <div class="container">
            <div class="row" id="home-actions-row">
                <div class="card col-sm-12 col-md-4">
                    <div class="card-body home-card-actions text-center">
                        <h5 class="card-title">See the Fundamentals</h5>
                        <p class="card-text">Form is king! Plain and simple. As babies we learn to crawl first, then progress into more advanced travel mechanics, such as walking or running.</p>
                        <p class="card-text">Weightlifting is no different, practice often and light, and even when competent, before increasing the volume and the weight.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card col-sm-12 col-md-4">
                    <div class="card-body home-card-actions text-center">
                        <h5 class="card-title">See the Fundamentals</h5>
                        <p class="card-text">Form is king! Plain and simple. As babies we learn to crawl first, then progress into more advanced travel mechanics, such as walking or running.</p>
                        <p class="card-text">Weightlifting is no different, practice often and light, and even when competent, before increasing the volume and the weight.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card col-sm-12 col-md-4">
                    <div class="card-body home-card-actions text-center">
                        <h5 class="card-title">See the Fundamentals</h5>
                        <p class="card-text">Form is king! Plain and simple. As babies we learn to crawl first, then progress into more advanced travel mechanics, such as walking or running.</p>
                        <p class="card-text">Weightlifting is no different, practice often and light, and even when competent, before increasing the volume and the weight.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}