{% extends 'base.html' %}
{% block content %}
    <!-- Landing Image for Home page -->
    <div class="container-fluid content welcome-landing">
        <div class="row no-gutters">
            <div class="col-sm-12 welcome-img">
                <h1 class="welcome-txt">Welcome to Oly-Track!</h1>
            </div>
        </div>
    </div>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 logout-alert text-center">
                    <!-- Alert to user notifying of successful logout. -->
                    {% with alerts = get_flashed_messages(with_categories=true) %}
                        {% if alerts %}
                            {% for category, alert in alerts %}
                                <div class="alert alert-{{ category }}">
                                    {{ alert }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <!-- Display username to user upon successful registration -->
                {% if 'username' in session %}
                    <div class="col-sm-12 greeting text-center">
                        <p>Welcome, {{ session['username'] }}</p>
                    </div>
                {% endif %}
                <div class="col-sm-12 about-title text-center">
                    <h2>What is Oly-Track?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 about-desc text-center">
                    <p>An application for Olympic Weightlifting clubs, athletes or everyday gym-goers who lift barbells. Primarily used to record Olympic Weightlifting sessions and is based towards those movements, but it can also be used to track any fitness session from Crossfit - Powerlifting and everything in between.</p>
                    <p>It was designed with ease of use and access in mind. Currently, as an aspiring Competitive Olympic Weightlifter, I often find myself forgetting to bring along my Session journal and by the time I get it, I have forgotten the rep schemes, movements and the weights lifted. You never forget your phone....so why not use a tool that is always readily available in your pocket to sit down in the middle of a session and record what you just did for that day? Enter Oly-Track!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center" id="about-logo-image">
                    <img class="img-fluid" src="{{ url_for('static', filename='images/oly-track-large-logo.png') }}" alt="Large Brand Logo">
                </div>
            </div>
        </div>
    </section>

    <section id="home-actions">
        <div class="container">
            <div class="row home-actions-row">
                <div class="card home-card-actions col-md-12 col-lg-4">
                    <div class="card-body text-center">
                        <h5 class="card-title hca-title">See the Fundamentals</h5>
                        <p class="card-text">Form is king! Plain and simple. As babies we learn to crawl first, then walk/run and eventually we can climb almost any obstacle.</p>
                        <p class="card-text hca-p2">Weightlifting is no different, practice often and light, and even when competent, before increasing the volume and the weight.</p>
                        <a href="{{url_for('show_fundamentals')}}" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
                <div class="card home-card-actions col-md-12 col-lg-4">
                    <div class="card-body text-center">
                        <h5 class="card-title hca-title">See Public Sessions</h5>
                        <p class="card-text">Need a session quick? Or maybe you are just beginning and are wanting to see what some day to day sessions for you could be?</p>
                        <p class="card-text hca-p2">This section contains some top industry standard sessions and some users are generous enough to make their sessions public, so you can see how they trained.</p>
                        <a href="{{url_for('show_public_sessions')}}" class="btn btn-primary">Find Session</a>
                    </div>
                </div>
                <div class="card home-card-actions col-md-12 col-lg-4">
                    <div class="card-body text-center">
                        <h5 class="card-title hca-title">Login</h5>
                        <p class="card-text">To keep track of and to only view your sessions/workouts, we recommend logging in.</p>
                        <p class="card-text hca-p2">When filling out a session form, you have the option to keep them private or make them public. Take control of your day-to-day sessions and in time it will become 2nd nature to login.</p>
                        <a href="{{url_for('login')}}" class="btn btn-primary">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}