{% extends 'base.html' %}
{% block content %}
    <section class="about">
        <div class="container content">
            <div class="row">
                <div class="col-sm-12 about-title text-center">
                    <h2>My Workouts</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    {% if 'username' in session %}
                        <p class="page-desc">Welcome {{ session['username'] }}, this page contains a list of all the workouts you have created! You will be
                            able to record any details of your workout; from the movements done, rep ranges and weights hit and any coaching
                            notes you got during the workout. Overtime the hope will be that coaches use this option to
                            create workouts tailored too you so that you can login to see them here. Exciting Stuff!</p>
                        <p class="page-help">Each card below contains some top level information for the workout contained
                            within. To see the full workout information, hover over the card and click or tap to be brought
                            to the full workout view.</p>
                    {% else %}
                        <p class="page-help">You are not logged in to view this page. Please Login.</p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <img class="img-fluid" src="{{ url_for('static', filename='images/oly-track-large-logo.png') }}"
                         alt="Large Brand Logo">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center crud-alerts">
                    <!-- Alert to user notifying of successful/unsuccessful actions. -->
                    {% with alerts = get_flashed_messages(with_categories=true) %}
                        {% if alerts %}
                            {% for category, alert in alerts %}
                                <div class="alert alert-{{ category }}">
                                    {{ alert }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </section>

    <section class="lower-section">
        <div class="container">
            <div class="row public-cards-row">
                <!-- Render available workout records if mine from workouts db -->
                {% for workout in workouts %}
                    {% if workout.username == session['username'] %}
                        <div class="col-sm-12 col-md-6 public-cards card">
                            <div class="card-body public-cards-body text-center">
                                <!-- Anchor & Empty span overlay to allow user to click anywhere on card to be brought to full view -->
                                <a href="{{ url_for('workout_view', workout_id=workout._id) }}">
                                    <span class="div-url-overlay"></span>
                                </a>
                                <p class="card-text"><span class="pc-label">Focus:</span> {{ workout.focus_name }}</p>
                                <p class="card-text"><span class="pc-label">Part A:</span> {{ workout.part_a }}</p>
                                <p class="card-text"><span class="pc-label">Accessory:</span> {{ workout.accessory }}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}