{% extends 'base.html' %}
{% block content %}
    <div class="container content">
        <div class="row">
            <div class="col-sm-12 about-title text-center">
                <h2>Public Sessions</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="page-desc">This page will allow any user logged in or otherwise to view any session created by a registered user that they wanted to make public! You will be able to see all the details from the movements done, rep ranges and weights hit and any coaching notes they had during the session. Overtime, the hope will be that coaches use this option to create public workouts to expand their clientele base. Exciting Stuff!</p>
            </div>
        </div>
    {% for session in sessions %}
        {% if session.public_session == true %}
            {{ session.date }}
            {{ session.location_name }}
            {{ session.focus_name }}
            {{ session.part_a }}
            {{ session.part_b }}
            {{ session.part_c }}
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}