{% extends 'base.html' %}
{% block content %}
    <section class="about">
        <div class="container content">
            <div class="row">
                <div class="col-sm-12 about-title text-center">
                    <h2>Workout Details</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="page-desc">This section is dedicated to any users out there that may not want to utilise
                        this app to its fullest purpose, in that you may not want to track your workouts at all. That's
                        fine, we got you covered! Here are all the details relating to the workout you just clicked on,
                        including any info the user got from their coach when recording the data!</p>
                    <p class="page-help">As this application evolves there will be more features added to this page,
                        such as printing, emailing or finding the location of this particular workout on you devices
                        maps app. Stay tuned!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <img class="img-fluid" src="{{ url_for('static', filename='images/oly-track-large-logo.png') }}"
                         alt="Large Brand Logo">
                </div>
            </div>
        </div>
    </section>

    <section class="lower-section">
        <div class="container">
            <div class="row workout-view-row">
                <!-- Show workout details to user. -->
                <div class="col-sm-12 workout-view-card card">
                    <div class="card-body workout-card-body text-center">
                        <h5 class="card-title wcb-title">Detail</h5>
                        <p class="card-text wc-text"><span class="wd-label">Created by: </span>{{ workout.username }}
                        </p>
                        <p class="card-text wc-text"><span class="wd-label">Date: </span>{{ workout.date }}</p>
                        <p class="card-text wc-text"><span class="wd-label">Location: </span>{{ workout.location_name }}
                        </p>
                        <p class="card-text wc-text"><span class="wd-label">Focus: </span>{{ workout.focus_name }}</p>
                    </div>
                    <div class="card-body workout-card-body text-center">
                        <h5 class="card-title wcb-title">Workout</h5>
                        <p class="card-text wc-text"><span class="wd-label">Part A: </span>{{ workout.part_a }}</p>
                        <p class="card-text wc-text"><span class="wd-label">Part B: </span>{{ workout.part_b }}</p>
                        <p class="card-text wc-text"><span class="wd-label">Part C: </span>{{ workout.part_c }}</p>
                        <p class="card-text wc-text"><span class="wd-label">Accessory: </span>{{ workout.accessory }}
                        </p>
                    </div>
                    <div class="card-body workout-card-body text-center">
                        <h5 class="card-title wcb-title">Additional</h5>
                        <p class="card-text wc-text"><span
                                class="wd-label">Additional Info: </span>{{ workout.additional_info }}</p>
                        <p class="card-text wc-text"><span
                                class="wd-label">Coach Notes: </span>{{ workout.coach_notes }}</p>
                        <!-- Ensure user is logged in and owns this particular workout before allowing editing/deletion -->
                        {% if 'username' in session and workout.username == session['username'] %}
                            <a href="{{ url_for('delete_workout', workout_id=workout._id) }}" class="btn btn-danger">Delete</a>
                            <a href="{{ url_for('edit_workout', workout_id=workout._id) }}" class="btn btn-primary">Edit</a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}